<div class="container">
	<div class="header text-center">
		<h2 class="text-blue">About Me</h2>
	    <hr>
	</div>
	<div class="header text-center">
	    <h2 class="text-blue">Testimonials from Start-ups</h2>
	    <br>
	</div>

	<div class="row text-center">
		<div class="col-md-4">
			<div class="about_container">
				<div class="row">
					<div class="text-center">
						<a target="_blank" href="https://www.amazon.co.uk/dp/B06XW37TXW">
							<%= image_tag("profile.jpg", :class =>"img-circle") %>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="">
						<h4>Marc Warner</h4>
						<p>FOUNDER</p>
						<%= image_tag("...", :class =>"img-circle") %>
						<h4>ROLE: Business Development Manager</h4>
						<p>"Anthony is exceptionally committed to and passionate about his work. He brought strong direction and leadership to what needed to be done to position Radario to consistently convert our users in to paying customers. I would highly recommend Anthony as a business development manager and it was an absolute pleasure to have him on our team. I look forward to working with him again in future, should the opportunity present itself."</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="about_container">
				<div class="row">
					<div class="text-center">
						<a target="_blank" href="https://www.amazon.co.uk/dp/B06XW37TXW">
							<%= image_tag("profile.jpg", :class =>"img-circle") %>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="">
						<h4>Marc Warner</h4>
						<p>FOUNDER</p>
						<%= image_tag("...", :class =>"img-circle") %>
						<h4>ROLE: Business Development Manager</h4>
						<p>"Anthony is exceptionally committed to and passionate about his work. He brought strong direction and leadership to what needed to be done to position Radario to consistently convert our users in to paying customers. I would highly recommend Anthony as a business development manager and it was an absolute pleasure to have him on our team. I look forward to working with him again in future, should the opportunity present itself."</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="about_container">
				<div class="row">
					<div class="text-center">
						<a target="_blank" href="https://www.amazon.co.uk/dp/B06XW37TXW">
							<%= image_tag("profile.jpg", :class =>"img-circle") %>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="">
						<h4>Marc Warner</h4>
						<p>FOUNDER</p>
						<%= image_tag("...", :class =>"img-circle") %>
						<h4>ROLE: Business Development Manager</h4>
						<p>"Anthony is exceptionally committed to and passionate about his work. He brought strong direction and leadership to what needed to be done to position Radario to consistently convert our users in to paying customers. I would highly recommend Anthony as a business development manager and it was an absolute pleasure to have him on our team. I look forward to working with him again in future, should the opportunity present itself."</p>
					</div>
				</div>
			</div>
		</div>

		

		
	</div>
	<hr>
	<div class="header text-center">
	    <h2 class="text-blue">About Me</h2>
	    <br>
	</div>

	<hr>
	<div class="header text-center">
	    <h2 class="text-blue">Why Me?</h2>
	    <br>
	</div>

	<hr>
	<div class="header text-center">
	    <h2 class="text-blue">How I Can Support You?</h2>
	    <br>
	</div>
</div>