<!DOCTYPE html>
<html>
<head>
  <title>Anthony Francis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag asset_path('favicon.png') %>
</head>
<body>

 <footer id="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/books">Books</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/join">Newsletter</a></li>
        <li><a href="/aboutme">About Me</a></li>
    </ul>
</footer>

<%= yield %>



</body>
</html>
    